[Unit]
Description=cow service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=$GOPATH/bin/cow -rc $HOME/.cow/rc

[Install]
WantedBy=multi-user.target
